<div class="row text-center">
  <div class="col-md-6">
    <h1 class="page-header">Spicy Meme</h1>
    <p class="lead">Random Scenario and Event</p>
    <div class="row text-center">
      <button class="btn btn-primary large-button" type="button" onclick="location='/spicymeme'">Spicy Meme!</button>
    </div>
  </div>
  <div class="col-md-6">
    <h1 class="page-header text-center">Random Meme</h1>
    <p class="lead">Random Scenario, Event, and Kind</p>
    <div class="row text-center">
      <button class="btn btn-primary large-button" type="button" onclick="location='/randommeme'">Random Meme!</button>
    </div>
  </div>
</div>
<h1 class="page-header text-center">Build a Meme</h1>
<div class="text-center">
  <p class="lead">Meme URL: <a target="_blank" id="meme-url" href="#">meme/</a></p>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Scenario</h1>
      </div>
      <ul id="scenario-list" class="list-group">
        <% for(var i in scenarios) { %>
          <li class="list-group-item" data-id="<%= scenarios[i].id %>"><%= scenarios[i].value %></li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Event</h1>
      </div>
      <ul id="event-list" class="list-group">
        <% for(var i in events) { %>
          <li class="list-group-item" data-id="<%= events[i].id %>" data-kind="<%= events[i].kind %>"><%= events[i].value %></li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Kind</h1>
      </div>
      <ul id="kind-list" class="list-group">
        <% for(var i in kinds) { %>
          <li class="list-group-item" data-id="<%= kinds[i].id %>"><%= kinds[i].name %></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
<style>
  .large-button {
    width: 300px;
    height: 100px;
    font-size: 2.5em;
  }
</style>
<script>
  $(document).ready(function() {

    var senarioList = $('#scenario-list li'), eventList = $('#event-list li'),
      kindList = $('#kind-list li'), memeURL = $('#meme-url');

    var url = location.origin, senarioId = '', eventId = '', kindId = '', safeKind = false;

    var updateURL = function() {
      var fullURL = url + '/meme';

      if(senarioId !== '') fullURL += '-' + senarioId;
      if(senarioId !== '' && eventId !== '') fullURL += '-' + eventId;
      if(senarioId !== '' && eventId !== '' && kindId !== '') fullURL += '-' + kindId;

      fullURL += '.jpg';

      memeURL.html(fullURL);
      if(senarioId !== '' && eventId !== '' && (kindId !== '' || safeKind)) {
        memeURL.prop('target', '_blank');
        memeURL.prop('href', fullURL);
      }
      else {
        memeURL.prop('target', '_self');
        memeURL.prop('href', '#');
      }
    }

    var senarioItemClick = function (event) {
      var $this = $(this);
      senarioList.removeClass('active');
      $this.addClass('active');
      senarioId = $this.data('id');
      updateURL();

    }

    var eventItemClick = function (event) {
      var $this = $(this);
      eventList.removeClass('active');
      $this.addClass('active');
      eventId = $this.data('id');

      if($this.data('kind') !== '') {
        kindId = $this.data('kind');
        safeKind = true;
        kindList.removeClass('active');
        kindList.filter('[data-id="' + kindId + '"]').addClass('active');
        kindId = '';
      }
      else {
        safeKind = false;
      }

      updateURL();
    }

    var kindItemClick = function (event) {
      var $this = $(this);
      kindList.removeClass('active');
      $this.addClass('active');
      kindId = $this.data('id');
      updateURL();
    }

    senarioList.click(senarioItemClick);
    eventList.click(eventItemClick);
    kindList.click(kindItemClick);

    updateURL();
  });
</script>
