<p>Value: <%= event.value %></p>
<p>ID: <%=event.id %></p>
<% if(kind) { %>
  <p>Kind: <%= kind.name %></p>
  <p>Kind ID: <%= kind.id %></p>
  <img src="<%= kind.url %>" alt="<%= kind.name %>" />
<% } %>
